@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');

body {
  font-family: "Vibur", cursive;
  color:white;
  font-size:1.5vw;
  background-color: black;
  background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1");
}

h1 {
  font-size: 80px;
  text-align: center;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

h2 {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
  }
}





.song {
  padding-left: 10vh;
}


.image {
  min-width: 50px;
  max-width: 170px;
  height: auto;
}

audio{
  background-color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
  border: 3px solid blueviolet;
}
::-webkit-media-controls-enclosure {
  border-radius: 3px;
  background-color: blueviolet;
  
}

::-webkit-media-controls-panel {
  background-color: #BCCCE0;
  
}
#song-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 50px 250px 50px 250px;
  border: 3px solid blueviolet;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 7px 7px 5px blueviolet
}

.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Vibur", cursive;
  font-size: 1rem;
}
.sign__word {
  font-family: "Vibur", cursive;
  font-size: 1rem;
  font-size: 5.6rem;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
  -webkit-animation: neon 0.08s ease-in-out infinite alternate;
          animation: neon 0.08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}
.link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #828282;
  text-decoration: none;
}
.link:focus, .link:hover {
  color: #c6e2ff;
  text-shadow: 0 0 2px rgba(202, 228, 225, 0.92), 0 0 10px rgba(202, 228, 225, 0.34), 0 0 4px rgba(30, 132, 242, 0.52), 0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78), 0 0 16px rgba(30, 132, 242, 0.92);
}